<form id="formForgot"> 
    <h1 >Restablecer Contaseña</h1>
    <input type="text" placeholder="Email" name="userEmail" class="formInput" id="userEmail" required />
    <button type="submit">Recuperar Contraseña</button>    
    <p>Ya tiene un token de restablecimiento? <a  href="/api/users/resetPassword">Úsalo</a></p>
    
</form>

<script src="/js/forgotPassword.js"></script>
