<div>
  <div>

    <h1>Registrese!</h1>
    <br>
    <form class="" id="formRegister">
      <input id="name-User" name='name' placeholder="Nombre" class="form-control" type="text" required>
      <input id="lastname-User" name='lastname' placeholder="Apellido" class="form-control" type="text" required>
      <input id="user-User" name='email' placeholder="Usuario" class="form-control" type="text" required>
      <input id="email-User" name='email' placeholder="Email" class="form-control" type="text" required>
      <input id="password-User" name='password' placeholder="Password" class="form-control" type="password" required>
      <input type="submit" value="Registrar">

    </form>

  </div>
  <h1><a href="http://localhost:8080/">ir a LOGIN</a></h1>

</div>

<script src="/js/register.js"></script>