<div>
    <h2>{{user.user}}</h2>    
    <form id="uploadForm" data-user="{{user._id}}" >
        <h2>Cambia a usuario Premium</h2>
        <p>Archivos a cargar: Identificacion, Estado de cuenta y Comprobante de Domicilio </p>        
        <input type="file" id="documentInput" name="document" multiple>
        <input type="submit" value="Subir documentos">
    </form>
    <script src="/js/uploadDoc.js"></script>
</div> 