<div class="">
  <div class="">

    <h1><a class="" href="http://localhost:8080/">LOGIN</a></h1>
    <br>
    <form class="" id="get-user">

      <div class="">
        <input id="email-user" name='email' placeholder="usuario" class="form-control" type="text" required>
      </div>

      <div class="">
        <input id="password-user" name='password' placeholder="password" class="form-control" type="password" required>
      </div>

      <div class="">
        <input class="" type="submit" value="Login">
      </div>
    </form>

    <hr>
    <div class="">
      <button class="" onclick="location.href = '/api/session/github'">Cuenta GitHub</button>
      <button class="" onclick="location.href = '/api/session/register'">Ir a Register</button>
      <button class="" onclick="location.href = '/auth/restaurarPassword'">Restaurar contraseña</button>
    </div>
  </div>
</div>
<script src="/js/loginUser.js"></script>