<div class="">
    <div class="">

      <h1>Registrese!</h1>
      <br>
      <form class="" id="formRegister">
        
        <input id="email-User" name='email' placeholder="usuario" class="form-control" type="text" required>        
        <input id="password-User" name='password' placeholder="password" class="form-control" type="password" required>       
        <input class="" type="submit" value="Registre">
        
      </form>     
      
    </div>
    <h1><a class="" href="http://localhost:8080/">ir a LOGIN</a></h1>
  </div>

  <script src="/js/register.js"></script>