{{#each proInCart}}
<h1>Carrito con su id  </h1>
<ul>    
    <li> Calzado: {{this.product.title}} </li>
    <li>Categoria: {{this.product.category}} </li>
    <li>Precio: ${{this.product.price}} </li>
    <li>Cantidad a comprar : {{this.qt}} </li>
</ul>


{{/each}}