<form  id="formReset">
    <h1>Restablecer su contase単a</h1>
    <input type="email" placeholder="Email" name="userEmail" class="formInput" id="userEmail" required />
    <input type="text" placeholder="Token" name="token" class="formInput" id="token" required />
    <input type="text" placeholder="Nueva Contrase単a" name="userNewPassword" class="formInput" id="userPassword"
        required />
    <input type="text" placeholder="Repetir Contrase単a" name="userNewPasswordRepeat" class="formInput" id="userRepeat"
        required />
    <button type="submit">Cambiar Contrase単a</button>    
</form>
<script src="/js/resetPassword.js"></script>